@import "../components/fonts";
@import "../abstracts/mixin";
@import "../components/buttons";

.header {
  margin: 0 auto;
  max-width: 1280px;
  background: #ffffff;
  position: sticky;
  top: 0;
  @media screen and (max-width: 1279px) {
    max-width: 768px;
  }
}

.wrapper {
  max-width: 1200px;
  @include block-center();
  padding-top: 31px;
  padding-bottom: 30px;
  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;
  height: 60px;
  text-decoration: none;
  @media screen and (max-width: 1279px) {
    padding: 30px;
  }
  @media screen and (max-width: 767px) {
    width: 257px;
    margin-left: 10px;
    padding: 30px 0 0;
  }
}

.header-menu-list {
  display: flex;
  vertical-align: center;
  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
}

.header-menu-list-item {
  padding-top: 15px;
  display: flex;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 160%;
  margin-left: 36px;
  /* color-dark-s */
  color: #545454;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  align-self: center;
  flex-grow: 0;
  &:hover {
    color: #292929;
    cursor: pointer;
  }
  &:nth-child(2) {
    @include border-active();
  }
}

.nav-link {
  color: #545454;
  font-size: 15px;
}

.header-menu {
  vertical-align: center;
  @media (max-width: 767px) {
    display: none;
  }
}

.header-logo-title {
  @include logo-title();
  padding-bottom: 10px;
  font-size: 2rem;
  line-height: 110%;
  letter-spacing: 0.12rem;
  color: #545454;
}

.header-logo-subtitle {
  @include logo-subtitle();
  padding-left: 0.25rem;
  font-size: 0.8125rem;
  line-height: 110%;
  letter-spacing: 0.08125rem;
  color: #545454;
  margin-top: 10px;
}

.header-about {
  max-width: 1200px;
  width: 100%;
  display: flex;
  margin: 60px auto 0 auto;
  align-items: center;
  justify-content: space-between;
  @media screen and (max-width: 1279px) {
    flex-direction: column;
    justify-content: center;
  }
}

.header-about-content {
  margin-bottom: 80px;
  @media screen and (max-width: 1279px) {
    margin-bottom: 100px;
  }
}

.header-about-content-heading {
  @include h2;
  max-width: 310px;
  margin-bottom: 42px;
  @media screen and (max-width: 767px) {
    max-width: 250px;
    margin: 0 auto 42px;
    @include h3mob();
  }
}

.header-about-content-subheading {
  @include paragraph1;
  margin-bottom: 42px;
  max-width: 460px;
  color: #cdcdcd;
  @media screen and (max-width: 767px) {
    max-width: 300px;
    margin: 42px auto;
    text-align: center;
  }
}

.start-img {
  width: 698px;
  height: 728px;
  align-items: center;
  @media screen and (max-width: 1279px) {
    width: 570px;
    height: 593px;
  }
  @media screen and (max-width: 767px) {
    width: 260px;
    height: 270px;
  }
}

.btn-link {
  @include button-primary();
  width: 207px;
  height: 52px;
  @media screen and (max-width: 1279px) {
    margin: 0 auto;
  }
}

.header-icon {
  display: none;
}

@media (max-width: 767px) {
  .header-icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 22px;
    top: 19px;
    cursor: pointer;

    &::after,
    &::before,
    span {
      left: 0;
      position: absolute;
      height: 10%;
      width: 100%;
      transition: all 0.3s ease 0s;
      background-color: #f1cdb3;
    }

    &::before {
      content: "";
      top: 0;
    }

    &::after {
      content: "";
      bottom: 0;
    }
    span {
      top: 50%;
      transform: scale(1) translate(0px, -50%);
    }
  }
  .header-menu {
    position: relative;
    top: 0;
    left: 100px;
    width: 100%;
    height: 715px;
    transition: right 0.3s ease 0s;
    display: none;
  }

  .__active {
    display: block;
    position: fixed;
    margin: 0;
    flex-direction: column;
    background: #292929;
    width: 320px;
    top: 0;
    right: 320px;
    height: 715px;
    overflow: auto;
    transform: translate(100%, 0px);
    transition: all 0.3s ease 0s;
  }

  .__activemenu {
    display: block;
    position: fixed;
    margin-top: 0;
    flex-direction: column;
    background: #292929;
    width: 320px;
    top: 180px;
    left: -320px;
    height: 505px;
    overflow: auto;
    transform: translate(100%, 0px);
    transition: left 0.3s ease 0s;
  }

  .__activeicon {
    left: 221px;
    top: -52px;
    &::after {
      color: green;
      transform: rotate(90dex) translate(0, 100%);
    }

    &::before {
      transform: rotate(90dex) translate(0, 100%);
    }

    &::after {
      color: green;
      transform: rotate(90dex) translate(0, 100%);
    }
  }
  .header-icon.__activeicon {
    span {
      transform: rotate(90deg) translate(0, 100%);
    }
    &::before {
      top: 11px;
      left: -50%;
      transform: rotate(90deg) translate(0, 100%);
    }

    &::after {
      top: 11px;
      left: 50%;
      transform: rotate(90deg) translate(0, 100%);
    }
  }

  .nav-link {
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 160%;
    color: #fafafa;
    margin-top: 40px;
  }
  .header-about-content {
    width: 300px;
  }

  .header-about-content-heading {
    max-width: 260px;
    @include h3mob();
    margin: 0 auto 40px;
  }
  .header-about-content-subheading {
    max-width: 291px;
    margin: 0 auto 43px;
    text-align: center;
  }
}


