@import "../components/fonts";
.main-container {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
}

.about {
  max-width: 1200px;
  margin: 0 auto;
}
.photo-about-pets {
  width: 300px;
  height: 408px;
  @media screen and (max-width: 767px) {
    width: 260px;
    height: 353px;
  }
}
.about-content {
  display: flex;
  padding: 80px 175px 90px 175px;
  justify-content: space-between;
  @media screen and (max-width: 1279px) {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding: 80px 130px 90px 130px;
    @media screen and (max-width: 767px) {
      padding: 0;
      margin: 49px auto 42px;
    }
  }
}

.about-content-text-heading {
  padding-top: 14px;
  max-width: 370px;
  @include h3;
  @media screen and (max-width: 1279px) {
    padding-top: 0px;
  }
  @media screen and (max-width: 767px) {
    max-width: 270px;
    @include h3mob();
    color: #4c4c4c;
    margin: 0 auto;
  }
}

.about-content-text {
  @media screen and (max-width: 1279px) {
    margin-bottom: 80px;
    @media screen and (max-width: 767px) {
      max-width: 270px;
      text-align: justify;
      margin-bottom: 46px;
    }
  }
}

.about-content-text-subheading {
  max-width: 430px;
  @include paragraph1();
  color: #4c4c4c;
  padding-top: 25px;
  @media screen and (max-width: 767px) {
    margin-bottom: -4px;
  }
}
