@import "../components/fonts";
@import "../abstracts/mixin";
@import "../components/buttons";

.donate {
  background: #f6f6f6;
  @media screen and (max-width: 1279px) {
    max-width: 768px;
    margin: 0 auto;
  }
}

.donate-content {
  display: flex;
  justify-content: space-between;
  @include block-center();
  @media screen and (max-width: 1279px) {
    max-width: 768px;
    flex-direction: column;
  }
  @media screen and (max-width: 767px) {
    max-width: 300px;
    flex-direction: column-reverse;
  }
}

.donate-content2 {
  justify-content: center;
  display: flex;
  margin: 80px auto 100px auto;
  @media screen and (max-width: 1279px) {
    max-width: 768px;
    flex-direction: column-reverse;
    margin-top: 77px;
  }
  @media screen and (max-width: 767px) {
    max-width: 300px;
    flex-direction: column-reverse;
    margin-top: 40px;
    margin-bottom: 42px;
  }
}
.credit-card-img {
  width: 30px;
}
.img-donate-dog {
  padding-top: 12px;
  @media screen and (max-width: 1279px) {
    padding-top: 60px;
  }
  @media screen and (max-width: 767px) {
    width: 260px;
    height: 135px;
    padding-top: 41px;
    padding-left: 20px;
  }
}
.donate-content-informadtion {
  margin-left: 30px;
  max-width: 380px;
  @media screen and (max-width: 1279px) {
    margin-left: 62px;
  }
  @media screen and (max-width: 767px) {
    margin: 0 auto;
  }
}

.donate-content-information-heading {
  max-width: 300px;
  @include h3();
  padding-bottom: 17px;
  @media screen and (max-width: 1279px) {
    padding-bottom: 20px;
  }
  @media screen and (max-width: 767px) {
    max-width: 210px;
    @include h3mob();
    color: #4c4c4c;
    margin: 0 auto;
    text-align: center;
  }
}

.donate-content-information-subheading {
  padding-bottom: 10px;
  @include h5();
  @media screen and (max-width: 767px) {
    width: 277px;
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    align-items: center;
    color: #545454;
    display: flex;
    margin: 0 auto;
    letter-spacing: 0.037em;
  }
}

.donate-content-information-legal {
  max-width: 380px;
  padding-top: 20px;
  font-family: Arial;
  font-style: italic;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;

  color: #b2b2b2;
  @media screen and (max-width: 767px) {
    text-align: justify;
    margin: 0 10px;
    padding-top: 10px;
  }
}

.credit-card {
  height: 43px;
  max-width: 319px;
  display: flex;
  margin: 10px 15px 10px 15px;
  background: #f1cdb3;
  border-radius: 9px;
  justify-content: space-between;
  @media screen and (max-width: 767px) {
    max-width: 281px;
    margin: 10px 13px;
  }
}

.credit-card-content {
  max-width: 349px;
  height: 43px;
  text-decoration: none;
  border-radius: 9px;
  background: #f1cdb3;
  justify-content: space-between;
  @media screen and (max-width: 767px) {
    max-width: 281px;
    margin: 10px 10px;
  }
}

.credit-card-number {
  @include h4();
  justify-content: baseline;
  width: 275px;
  padding-top: 10px;
  @media screen and (max-width: 767px) {
    @include h5();
    padding-top: 14px;
    padding-left: 10px;
  }
}

a:-webkit-any-link {
  text-decoration: none;
}
