@import "../components/fonts";
@import "../abstracts/mixin";
@import "../components/buttons";

.help-content {
  max-width: 1030px;
  margin: 80px auto 100px auto;
  @media screen and (max-width: 1279px) {
    max-width: 708px;
  }
  @media screen and (max-width: 767px) {
    margin: 40px auto;
  }
}

.help-content-text {
  margin: 0 auto;
  @include h3();
  max-width: 310px;
  text-align: center;
  @media screen and (max-width: 767px) {
    padding-top: 0px;
    max-width: 270px;
    @include h3mob();
    color: #4c4c4c;
    margin: 0 auto;
  }
}

.help-content-list {
  max-width: 1030px;
  margin-top: 60px;
  column-gap: 120px;
  row-gap: 55px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @media screen and (max-width: 1279px) {
    max-width: 630px;
    column-gap: 60px;
    margin: 60px auto;
    justify-content: space-around;
  }
  @media screen and (max-width: 767px) {
    max-width: 290px;
    gap: 30px;
    margin: 43px auto;
    justify-content: start;
  }
}

.help-content-img {
  max-width: 60px;
  @media screen and (max-width: 767px) {
    max-width: 50px;
  }
}
.help-content-list-item {
  height: 113px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  @media screen and (max-width: 1279px) {
    width: 170px;
  }
  @media screen and (max-width: 767px) {
    width: 130px;
    height: 87px;
  }
}
.help-content-list-item-name {
  @include h4();
  padding-bottom: 2px;

  @media screen and (max-width: 1279px) {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    padding-bottom: 4px;
  }
  @media screen and (max-width: 767px) {
    @include h5();
    padding-bottom: 1px;
  }
}
