@import "../components/fonts";
@import "../abstracts/mixin";
@import "../components/buttons";

.pets {
  background: #f6f6f6;
}

.pets-content {
  @include block-center();
  padding-bottom: 1px;
  @media screen and (max-width: 1279px) {
    max-width: 708px;
  }
}

.pets-heading {
  padding-top: 80px;
  margin: 10px auto 0;
  max-width: 400px;
  @include h3();
  text-align: center;
  @media screen and (max-width: 767px) {
    padding-top: 43px;
    max-width: 286px;
    @include h3mob();
    color: #4c4c4c;
    margin: 0 auto;
    text-align: center;
  }
}

.pets-item {
  display: flex;
  flex-direction: column;
  height: 435px;
  width: 270px;
  border-radius: 9px;
  justify-content: center;
  background: #fafafa;

  &:hover {
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  }
  @media screen and (max-width: 1279px) {
    margin: 0 auto;
    &:last-child {
      display: none;
    }
  }
  @media screen and (max-width: 767px) {
    margin: 0 auto;
    &:nth-child(2) {
      display: none;
    }
    order: 1;
  }
}

.pets-corusel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include block-center();
  @media screen and (max-width: 767px) {
    max-width: 270px;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

.main-pet-container {
  max-width: 990px;
  width: 1000px;
  @media screen and (max-width: 1279px) {
    width: 90vw;
  }
  @media screen and (max-width: 767px) {
    width: 100vw;
    margin: 0 auto;
  }
}

.pets-carousel {
  overflow: hidden;
}

.pets-list {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
  max-width: 990px;

  gap: 90px;
  position: relative;
  left: -1080px;
  @media screen and (max-width: 1279px) {
    max-width: 630px;
    left: -720px;
  }
  @media screen and (max-width: 767px) {
    margin-top: 38px;
    margin-bottom: 21px;
    left: -340px;
  }
}

.pets-block {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  max-width: 990px;
  gap: 90px;
  @media screen and (max-width: 1279px) {
    max-width: 630px;
  }
}
@media screen and (min-width: 1279px) {
  @keyframes move-right {
    from {
      left: -1080px;
    }
    to {
      left: -2160px;
    }
  }
}

@media screen and (max-width: 1279px) {
  @keyframes move-right {
    from {
      left: -720px;
    }
    to {
      left: -1440px;
    }
  }
} 

@media screen and (max-width: 767px) {
  @keyframes move-right {
    from {
      left: -340px;
    }
    to {
      left: -700px;
    }
  }
}

.transition-right {
  animation-name: move-right;
  animation-duration: 1s;
}
@media screen and (min-width: 1279px) {
@keyframes move-left {
  from {
    left: -1080px;
  }
  to {
    left: 0px;
  }
}
}
@media screen and (max-width: 1279px) {
  @keyframes move-left {
    from {
      left: -720px;
    }
    to {
      left: 0px;
    }
  }
}

@media screen and (max-width: 767px) {
  @keyframes move-left {
    from {
      left: -340px;
    }
    to {
      left: 20px;
    }
  }
}


.transition-left {
  animation-name: move-left;
  animation-duration: 1s;
}

.pets-left {
  @include cercle();
  @media screen and (max-width: 767px) {
    order: 2;
    margin-left: -10px;
  }
}

.pets-right {
  @include cercle();
  @media screen and (max-width: 767px) {
    order: 3;
    margin-right: -10px;
  }
}

.pets-accept {
  width: 261px;
  height: 52px;
  @include button-primary();
  margin: 30px auto 100px auto;
  @media screen and (max-width: 1279px) {
    margin: 28px auto 100px auto;
  }
  @media screen and (max-width: 767px) {
    margin: 43px auto;
  }
}

.pets-accept-secondary {
  width: 187px;
  height: 52px;
  @include button-secondary();
  margin: 30px auto;
}

.pet-photo {
  width: 270px;
  height: 270px;
  margin-bottom: 25px;
}

.pet-name {
  @include pet-name();
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  @media screen and (max-width: 767px) {
    margin-top: 33px;
  }
}

.pets-item:hover .pets-accept-secondary {
  background: #fddcc4;
  border-color: #fddcc4;
}
