@import "../components/fonts";
@import "../abstracts/mixin";
@import "../components/buttons";

.pets-popap {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(41, 41, 41, 0.6);
  top: 0;
  left: 0;
  //   visibility: hidden;
  //   overflow-x: hidden;
  //   overflow-y: auto;
  transition: all 0.8s ease 0s;
}

.pets-popap-body {
  display: flex;
  min-height: 100vh;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: 767px) {
    margin-left: 29px;
  }

  a {
    position: relative;
    top: -270px;
    @media screen and (max-width: 767px) {
      left: -20px;
    }
  }
  transition: all 0.8s ease 0s;
  opacity: 0, 9;
  transform: translate(0px, 0%);
}
.pets-popap-listItem {
  margin-bottom: 11px;

  &::marker {
    color: #f1cdb3;
  }
  @media screen and (max-width: 767px) {
    margin-bottom: 5px;
    margin-left: 10px;
  }
}
.pets-popap .open {
  opacity: 1;
  visibility: visible;
}

.pets-popap .open .pets-popap-body {
  transform: perspective(600px) translate(0, 0%), rotate(0deg);
}

.pets-popap-tittle {
  @include h3();
  margin-bottom: 10px;
  @media screen and (max-width: 767px) {
    width: 240px;
    text-align: center;
  }
}

.pets-popap-subtittle {
  @include h4();
  text-align: left;
  @media screen and (max-width: 767px) {
    width: 240px;
    text-align: center;
  }
}

.pets-popap-text {
  @include h5();
  text-align: left;
  margin: 40px 0;
  @media screen and (max-width: 767px) {
    text-align: justify;
    margin: 40px 10px 24px;
  }
}
.pets-popap-info {
  display: flex;
  flex-direction: column;
  margin: 50px 20px 0 0;
}

.pets-popap-content {
  display: flex;
  background-color: #fafafa;
  max-width: 900px;
  border-radius: 9px;
  @media screen and (max-width: 1279px) {
    max-width: 630px;
  }
  @media screen and (max-width: 767px) {
    width: 240px;
  }
}
.pets-popap-close {
  width: 52px;
  height: 52px;
  border: 2px solid #f1cdb3;
  box-sizing: border-box;
  border-radius: 100px;
  text-align: center;
  vertical-align: middle;
  padding-top: 16px;

  &:hover {
    background: #fddcc4;
    cursor: pointer;
  }
}

.popap-close {
  background: #fddcc4;
}

.popap-pointer {
  cursor: pointer;
}

.pets-popap-img {
  @media screen and (max-width: 1279px) {
    width: 350px;
    height: 350px;
  }
  @media screen and (max-width: 767px) {
    display: none;
  }
}
